version: '3.4'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - database
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - gem_cache:/usr/local/bundle/gems
      - node_modules:/app/node_modules
    env_file: .env
    environment:
      RAILS_ENV: development

  database:
    image: postgres:12.1
    environment:
      POSTGRES_DB: myrails
      POSTGRES_USER: sammy
      POSTGRES_PASSWORD: shark

    # volumes:
    #   - db_data:/var/lib/postgresql/data
      # - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    
volumes:
  gem_cache:
  db_data:
  node_modules: