#login
  - if @current_user
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle{:href=>'#', :id=>'user-dropdown', :role=>'button', 
        'data-bs-toggle'=>'dropdown', 'aria-expanded'=>'false'}
        Welcome!, #{@current_user.name}

      %ul.dropdown-menu{'aria-labelledby'=>'user-dropdown'}
        %li
          %a.dropdown-item{:href => logout_path} Log Out

  - else
    %li.nav-item
      %a.nav-link{:href=> '/auth/twitter'} Log in with Facebook