-# A single row of the All Movies table
.col{class: movie.rating}
  .row.mx-3.poster
    - if !movie.poster_path.to_s.empty?
      .card-poster.my-2
        %img.poster{:src => 'https://image.tmdb.org/t/p/w300' + movie.poster_path.to_s}
        %a.btn.green{:href => '#'}
          %i.fas.fa-plus.me-1
          Add Review

    - else 
      .card-poster.my-2.potatoes
        = image_tag 'potatoes.svg', :class=>'mx-auto potatoes'
        %a.btn.green{:href => '#'}
          %i.fas.fa-plus.me-1
          Add Review

  .row.mx-3
    %a.movie-title{:url=>movie_path(movie)}
      %h5.mb-0= movie.title

  .row.me-3.ms-4.my-2
    %p.release-date.mb-0= movie.release_date.strftime('%Y-%m-%d')

  .row.me-3.ms-4.my-2.rating
    %p.d-inline.rating.px-0.ps-2.mb-0 Rating:
    %p.d-inline.rating.ps-1.pe-2.mb-0= movie.rating
