%tr
  %td= tmdb_tbody_counter + 1
  %td
    %img{:src => 'https://image.tmdb.org/t/p/w300' + tmdb_tbody.poster_path.to_s}
    
  %td= tmdb_tbody.title 
  %td= tmdb_tbody.release_date.to_date.strftime('%b, %m %Y')
