%h2 Edit Existing Movie

= form_tag movie_path(@movie), :method => :put do
  = render :partial => 'movie_form'


  .col-9.mx-auto
    .row.gap-3
      %a.button.col-2{:href => movies_path, :class => 'red btn'} Cancel
      %a.button.col-3{:href =>"#", :class => 'green btn'} Update Movie Info