.row
  .col
    %h3.mb-0 All Movies
  .col-auto
    %a.btn.green{:href => new_movie_path}
      %i.fas.fa-plus
      Add new movie

.row.row-cols-4.g-4.mt-2
  = render :partial => 'movie', :collection => @sort_movies
