- content_for(:head) do
  = stylesheet_link_tag 'movie_form'

%h2 Create New Movie

= form_tag '/movies', :method => :post do
  = render :partial => 'movie_form'

  .row.gap-3
    %a.btn.red.col-2.ms-auto{:href => movies_path} 
      %i.fas.fa-times.me-1
      Cancel

    %button.btn.green.col-2.me-auto{:type =>'submit'}
      %i.far.fa-save.me-1
      Save Changes