%h2 Create New Movie

= form_tag '/movies', :method => :post do
  = render :partial => 'movie_form'

  .col-8.mx-auto
    .row.gap-3
      %a.button.col-2{:href => movies_path, :class => 'red btn'} Cancel
      %a.button.col-2{:href =>"#", :class => 'green btn'} Save Changes