%h2 Create New Movie

= form_tag '/movies', :method => :post do
  = render :partial => 'movie_form'
  
  .row
    .col-1
      = link_to 'Cancel', movies_path, :class => "red btn"
    
    .col
      = submit_tag 'Save Changes', :class => 'd-block'