.row.align-self-center
  %h1.col.mb-0= 'Search Result for "' + @search_terms + '"'
  .col-auto
    %h3.d-inline.mb-0 Filter by :
    %a.btn.grey.d-inline{:href=>"#", :role=>"button"}
      Release Date
      %i.fas.fa-chevron-down

.row.row-cols-4.g-4.mt-2
  = render :partial => 'tmdb_result', :collection => @movies